.button {
	display: inline-block;
	padding: 1.375em 1.25em 1.25em;


	font-size: 0.8em;
	line-height: 1;
	font-weight: @font-weight--bolder-2;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 1px rgba( 0,0,0,0.1 );

	background: @color--green;

	border: none !important;
	border-radius: 2px;

	cursor: pointer;

	&:hover,
	&:focus {
		text-decoration: none;
		color: #fff !important;

		box-shadow: 0 0 5rem 5rem rgba( 0,0,0,0.05 ) inset;
	}

	&:active {
		text-decoration: none;
		color: #fff !important;

		box-shadow: 0 0 5rem 5rem rgba( 0,0,0,0.1 ) inset;
	}
}

.button--primary {

}

.button--block {
	display: block;
}

.button--large {
	padding: 1em 1.4em;

	font-size: 0.9em;

	border-radius: 3px;
}

.button--small {
	padding: 0.875em 0.875em;

	font-size: 0.75em;
}

.button--red {
	background: @color--red;

	&:hover,
	&:focus {
		color: #fff !important;
	}

	&:active {
		color: #fff !important;
	}
}

.button--blue {
	background: @color--blue;

	&:hover,
	&:focus {
		color: #fff !important;
	}

	&:active {
		color: #fff !important;
	}
}

.button--secondary {
	color: lighten( @color--text, 10% ) !important;
	text-shadow: none;

	background: @color--green-light;

	&:hover,
	&:active,
	&:focus {
		color: @color--text !important;
	}
}

.button--secondary.button--large {
	padding: 1.25em 1.5em;

	font-size: 0.8em;
}

// button inverted
.button--inverted {
	color: @color--green !important;

	text-shadow: none;

	background-color: transparent;

	&:hover,
	&:active,
	&:focus {

	}
}

// button footer
.button--footer {
	color: @color--green-light;

	background: fade( @color--green-light, 20% );

	&:hover,
	&:focus {
		background: fade( @color--green-light, 30% );
	}
}

.button--red.button--inverted {
	color: @color--red !important;

	&:hover,
	&:active,
	&:focus {
		color: @color--red !important;
	}
}


.button--link {
    appearance: none;
    margin: 0;
    padding: 0;

    font-family: inherit;
    color: inherit;

    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;

    cursor: pointer;
}
