.checklist {
	display: block;
	margin: 1em 0;
	padding: 0;

	list-style-type: none;

	&:last-child {
		margin-bottom: 0;
	}
}

.checklist-item {
	position: relative;

	display: block;
	vertical-align: top;
	margin: 0 0 1em;

	padding: 0 0 0 1.5rem;

	&::before {
		content: ' ';

		position: absolute;
		left: 0;
		top: 0;

		display: block;
		width: 1rem;
		height: 1rem;
		margin: 0.125em 0 0 0;

		background-repeat: no-repeat;
		background-position: center center;	
		.svg( 'icon-check--16--green', true );	
	}

	&:last-child {
		margin-bottom: 0;
	}	

	.box--security & {
		
		&::before {
			.svg( 'icon-check--16--white', true );	
		}		
	}
}