html,
body {
    min-height: 100vh;
    margin: 0;
}

html {
    font-family: @font--1;
    font-size: 100%;
    font-weight: @font-weight;
    line-height: @line-height;
    letter-spacing: @letter-spacing;
    color: @color--text;

    // enhanced typography
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga', 'kern';
    text-size-adjust: 100%;
}

body {
    position: relative;

    background: @color--bg;
}

// sync variables between CSS and JS
title {
    // media query: break point
    width: @smaller-em;
    // media query: string
    font-family: '@{smaller}';
    // transition duration
    transition-duration: @transition-duration;
}

.shell {
    width: 90%;
    max-width: 56em;

    margin: 0 auto;
    padding: 0;

    .cf;
}


@media @medium {
    body {

    }

    .shell {
        width: auto;

        margin-left: 1rem;
        margin-right: 1rem;
    }
}


@media @smaller {
    body {
        background: @color--bg !important;
    }

    .shell {

    }
}



@media @small {
    body {

    }

    .shell {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
