.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 100;

	width: 100%;

	color: @color--green-light;
	text-align: center;

	background: @color--green-dark;
}

// footer section 1
.footer--1 {
	padding: 1rem 0;

	background: lighten( @color--green-dark, 8% );
}

.footer--1 p {
	font-size: @font-size--larger-1;

	& > .button {
		font-size: ( 1rem / @font-size--larger-1 );		
	}
}

// footer section 2
.footer--2 {
	padding: 2rem 0;	
}


@media @smaller {
	.footer {
		position: relative;
	}

	// footer section 1
	.footer--1 {

	}

	.footer--1 p {
		margin: 0;

		font-size: @font-size--larger-0;

		& > .button {
			box-sizing: border-box;
			width: 100%;
			margin-top: 0.75rem;

			font-size: ( 0.8rem / @font-size--larger-0 );		
		}
	}

	// footer section 2
	.footer--2 {
		padding: rem 0;	
	}	
}