.form-wrapper {
    margin: 2rem 0;

    &:last-child {
        margin-bottom: 0;
    }
}

.form {

}

.form-item {
    position: relative;

    margin: 0 0 0.25rem 0;

    &:last-child {
        margin-bottom: 0;
    }
}

.form-label {
    display: block;
}

// label
.form-label {
    font-size: 0.875rem;

    cursor: pointer;

    .js .fancylabels & {
        opacity: 0;

        cursor: text;
    }

    .js.initiated--fancylabels .fancylabels & {
        opacity: 1;
    }
}


// text inputs
.form-item--text,
.form-item--password {
    position: relative;
}

.form-label--text,
.form-label--password {
    display: block;
    margin: 1em 1em 0.5em;

    line-height: 1;

    transition: all 150ms ease;

    .js & {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;

        margin: 1em 0 0 1em;
    }

    .not-empty & {
        margin: 0.6em 0 0 ( 1em / 0.75em );

        font-size: 0.675em;
    }
}

.form-input--text,
.form-input--password {
    appearance: none;

    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0;
    padding: 1em 1em;

    font-family: inherit;
    font-size: 0.875rem;
    line-height: 1;
    font-weight: @font-weight;
    letter-spacing: @letter-spacing;
    color: inherit;

    background: @color--bg;
    border: none;
    border-radius: 2px;

    .not-empty & {
        padding-top: 1.5em;
        padding-bottom: 0.5em;
    }

    &:invalid {
        background: @color--red-light;
        border: none;
        outline: 0;
        box-shadow: none;
    }
}


// button
.form-item--submit {

}

.form-input--submit {
    .button;

    width: 100%;
}


// hr
.form-separator {
    display: block;
    height: 1em;
    margin: 0;

    background: none;
    border: none;
}


// error
.form-error {
    margin: 0.5em 0 0.75em;
    padding: 0 0;

    font-size: @font-size--smaller-1;
    color: darken( @color--red, 10% );
}


// forgot password
.form-item--forgotpassword {
    & > p {
        margin: 0.65rem 0 -0.75rem;

        font-size: @font-size--smaller-2;
        text-align: right;
    }

    & > p > a {
        border: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}


// no thanks
.form-item--nothanks {
    & > p {
        margin: 0.75rem 0 0;

        font-size: @font-size--smaller-2;
        text-align: center;
    }

    & > p > a {
        border: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}


@media @smaller {
    .form-item--forgotpassword {
        & > p {
            margin-bottom: 0;
        }
    }
}


// terms
.form-item--terms {
    & > p {
        margin: 1rem 0;

        font-size: @font-size--smaller-1;
    }

    & > p > a {
        border-bottom: 1px solid @color--green;

        &:hover,
        &:focus {
            border-bottom-color: @color--text;
        }
    }
}
