.go {
    margin: 1rem auto;

    text-align: center;
}

.go-button {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.go-skip {
    margin: 1rem auto;
}

.go-skip-input {
    display: block;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;

    visibility: hidden;
}

.go-skip-label {
    position: relative;

    padding: 0 0 0 3rem;

    cursor: pointer;
    user-select: none;

    &::before {
        content: ' ';

        position: absolute;
        left: 0;
        top: 0;

        display: block;
        width: 2rem;
        height: 2rem;
        margin: -0.45rem 0 0 0;

        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        .svg( 'icon-check--16--green-light', true );
        border: 1px solid @color--grey-1;

        border-radius: 50%;
    }

    &:hover,
    &:focus {

        &::before {
            .svg( 'icon-check--16--green', true );
        }
    }

    input:checked + & {

        &::before {
            background-color: @color--green;
            .svg( 'icon-check--16--white', true );
            border: 1px solid @color--green;
        }
    }
}


@media @medium {
    .go-skip-label {
        padding-left: 2.5rem;

        font-size: 0.75rem;

        &::before {
            margin-top: -0.5rem;
        }
    }
}


@media screen and ( max-width: 586px ) {
    .go-button {
        display: block;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


@media @small {
    .go-button {

    }
}
