.head {
    margin: 0 0 1rem;
    padding: 1.5rem 0;

    background: #fff;
    border-bottom: 1px solid @color--grey-1;
}

.head-title {
    position: relative;

    margin: 0 0 0 -0.5rem;
    padding-left: 3em;

    font-size: 1.75rem;

    &::before {
        content: ' ';

        position: absolute;
        left: 0;
        top: 0;

        display: block;
        width: 1.5em;
        height: 2.5em;
        margin: -0.6em 0 0 0.8em;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
        .svg( 'icon-marker-green--52', true );
    }
}

@media @medium {

}


@media @smaller {
    .head {
        margin-bottom: 0;
    }

    .head-title {
        padding-left: 2.75em;

        font-size: @font-size--larger-1;

        &:before {
            width: 1.5em;
            height: 2em;
            margin-top: -0.375em;
        }
    }
}


@media @small {
    .head {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .head-title {

    }
}
