h1 {

}

h2 {
    margin: 0 0 1.5rem;

    font-size: @font-size--larger-3;
    line-height: 1.25;
    font-weight: @font-weight;
}

h3 {
    margin: 0 0 1rem;

    font-size: @font-size--larger-1;
    line-height: 1.25;
    font-weight: @font-weight;
}

h4 {
    margin: 0 0 1rem;

    font-weight: @font-weight;
}


@media @smaller {
    h1 {

    }

    h2 {
        font-size: @font-size--larger-1;
    }

    h3 {
        font-size: @font-size--larger-0;
    }

    h4 {

    }
}


@media @smaller {

}
