// A11Y
.hide-but-read() {
	position: absolute;
	left: -9999em;
	top: auto;

	width: 1px;
	height: 1px;
	
	overflow: hidden;
}


// LAYOUT 
.pseudo-box() {
	content: ' ';

	position: absolute;
	left: 0;
	top: 0;

	display: block;
}

.scroll() {
	overflow: auto;
	-webkit-overflow-scrolling: touch;	
}

.scroll--x() {
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;	
}

.scroll--y() {
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;	
}


// BACKGROUND IMAGES
// data-uri
.data-uri( @url ) {
	background-image: data-uri( '../img/@{url}' );
}

// PNG fallback for SVG
.svg( @handle, @data-uri: false ) when ( @data-uri = false ) {
	background-image: url( '../img/@{handle}.svg' );

	.no-svg & {
		background-image: url( '../img/@{handle}.png' );
	}
}

.svg( @handle, @data-uri: false ) when ( @data-uri = true ), ( @inline-svg = true ) {
	background-image: url( '../img/@{handle}.svg' );
	background-image: data-uri( 'image/svg+xml;charset=UTF-8', '../img/@{handle}.svg' );

	.no-svg & {
		background-image: url( '../img/@{handle}.png' );
	}
}

// icon
.icon( @handle, @data-uri: false ) {
	.svg( @handle, @data-uri );
	background-position: center center;
	background-repeat: no-repeat;
}


// TRANSITION
.transition() {
	transition: all @transition-duration ease;
}

.no-transition() {
	transition: none !important;
}


// PERFORMANCE
.new-layer() {
	transform: translateZ( 0 );
}


// CLEARFIX
.cf {
	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}

	zoom: 1;
}