.richtext {

	& > p {
		margin: 0 0 1em;

		&.smaller {
			font-size: @font-size--smaller-1;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	& a {
		border-bottom: 1px solid @color--green;
	
		&:hover,
		&:focus {
			border-bottom-color: @color--text;
		}
	}

	& .button--block {
		margin-top: 1.5rem;
	}
}