.site-title {
    position: relative;

    margin: 2.5rem 0 2.5rem;
    padding-left: 3.5em;

    font-size: 1.75rem;

    &::before {
        content: ' ';

        position: absolute;
        left: 0;
        top: 0;

        display: block;
        width: 2em;
        height: 2.5em;
        margin: -0.5em 0 0 0.8em;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
        .svg( 'icon-marker-green--52' );
    }
}

@media @medium {

}


@media @smaller {
    .site-title {
        padding-left: 2.75em;

        font-size: @font-size--larger-1;

        &:before {
            width: 1.5em;
            height: 2em;
            margin-top: -0.375em;

            // outline: 1px solid red;
        }
    }
}


@media @small {
    .site-title {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}
