.box--userinput {
	padding: 2rem 2.25rem;

	text-align: center;

	.has-image & {

	}
}

.box--userinput .box-content {

	& > p {
		font-style: italic;
	}
}

.userimage {
	position: relative;

	margin-bottom: 2rem;

	&.fullwidth {
		width: auto;
		margin-left: ( -2.25rem - 0.0625rem );
		margin-right: ( -2.25rem - 0.0625rem );
		margin-top: ( -2rem - 0.0625rem );
	}	
}

.userimage-image {
	display: none;
	margin: 0 auto;
	max-width: 24rem;
	height: auto;

	border: 0.75rem solid #fff;
	box-shadow: 0 0.25em 0.5em rgba( 0, 0, 0, 0.2 );

	.has-image & {
		display: block;
	}

	.fullwidth & {
		width: 100%;
		max-width: 200%;

		border: none;
		box-shadow: none;
	}
}


@media @smaller {
	.box--userinput {
		padding: 1.5rem 1rem;
	}

	.box--userinput .box-content {

	}

	.userimage,
	.userimage.fullwidth {
		height: auto;
		margin-left: ( -1rem - 0.0625rem );
		margin-right: ( -1rem - 0.0625rem );
		margin-top: ( -1.5rem - 0.0625rem );
	}

	.userimage-image {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 0 auto !important;

		border: none;
		box-shadow: none;

		.has-image & {

		}
	}	
}