// COLORS
@color--bg: @color--green-light;
@color--text: #344938;
@color--link: #344938;

// green
@color--green: #21965c;
@color--green-dark: #4F5351;
@color--green-light: #F2F5F2;

@color--grey-1: #d0d8cf;
@color--grey-2: #8D938D;

// red
@color--red: #de4812;
@color--red-light: #E7C6BD;


// blue
@color--blue: #1285de;


// TYPOGRAPHY
@font--1: 'Clear Sans Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@font-size--larger-0: 1.125em;
@font-size--larger-1: 1.25em;
@font-size--larger-2: 1.5em;
@font-size--larger-3: 2em;

@font-size--smaller-1: 0.875em;
@font-size--smaller-2: 0.75em;
@font-size--smaller-3: 0.5em;

@font-weight: 400;
@font-weight--bolder-2: 600;

@line-height: 1.4;

// @letter-spacing: 0.0125em;
@letter-spacing: 0.035em;


// BREAKPOINTS
@medium-em: 1080px;
@medium: ~'only screen and ( max-width: @{medium-em} )';


@smaller-em: 766px;
@smaller: ~'only screen and ( max-width: @{smaller-em} )';


@small-em: 460px;
@small: ~'only screen and ( max-width: @{small-em} )';


// TRANSITIONS
@transition-duration: 250ms;


// BACKGROUND IMAGES
@inline-svg: false;


// GRID
@grid--gutter: 1rem;


// BORDER RADIUS
@border-radius: 4px;
