.widgets {
    clear: both;
    margin: @grid--gutter ( -0.5 * @grid--gutter ) 0;

    .cf;
}

.widget {
    box-sizing: border-box;

    padding: 0 0 @grid--gutter;

    &.fullwidth {
        clear: both;
        float: none;
        width: auto;
    }
}

.widget-title {
    position: relative;

    margin: 0 ( 0.5 * @grid--gutter );
    padding: 0.8rem 1.25rem;

    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    background: #fff;
    border: 1px solid @color--grey-1;
    border-bottom: none;
    border-radius: @border-radius @border-radius 0 0;

    user-select: none;

    .initiated--collapsable [data-collapsable-role='widget'] & {
        padding-right: 3rem !important;

        border-bottom: 1px solid @color--grey-1;
        border-bottom: none;

        cursor: pointer;

        &::after {
            content: ' ';

            position: absolute;
            right: 0;
            top: 0;

            box-sizing: border-box;
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            margin: 0.675rem 0.5rem;

            background-repeat: no-repeat;
            background-position: center center;
            .svg( 'icon-up--16--text', true );

            border: 1px solid transparent;
            border-radius: 50%;
        }

        &:hover {

            &::after {
                border-color: @color--grey-1;
            }
        }
    }

    .initiated--collapsable [data-collapsable-role='widget'].collapsed & {
        border-bottom: 1px solid @color--grey-1;
        border-radius: @border-radius;

        &::after {
            .svg( 'icon-down--16--text', true );
        }
    }

    .has-icon & {
        transition-property: padding;
        transition-duration: 250ms;
        transition-timin-function: ease-in-out;

        &::before {
            content: ' ';

            position: absolute;
            left: 0;
            top: 50%;

            display: block;
            width: 2rem;
            height: 2rem;
            margin: -1rem 0 0 1rem;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% auto;

            // outline: 1px solid red;

            opacity: 0;

            transition-property: opacity;
            transition-duration: 250ms;
            transition-timing-function: ease-in-out;
        }
    }

    .has-icon.collapsed & {
        padding-left: 3.75rem;

        &::before {
            opacity: 1;
        }
    }
}

.widget-content {
    position: relative;

    box-sizing: border-box;
    margin: 0 ( @grid--gutter / 2 ) 0;
    padding: 1rem 1.25rem 1.125rem;

    background: #fff;
    border: 1px solid @color--grey-1;
    border-radius: @border-radius;

    &::after {
        content: ' ';

        position: absolute;
        left: 0;
        top: 0;

        display: block;
        width: 6rem;
        height: 6rem;
        margin: 1.5rem 0 0 2.75rem;

        background-repeat: no-repeat;
        background-position: center center;

        transition-property: opacity;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;

        // outline: 1px solid red;
    }

    .has-icon & {
        padding-left: 12rem;
    }

    .widget-title + & {
        border-radius: 0 0 @border-radius @border-radius;
    }

    .collapsed & {
        display: none;

        &::after {
            opacity: 0;
        }
    }
}


@media @medium {
    .widgets {
        margin-top: 1rem;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }

    .widget {
        padding-bottom: 1rem;
    }

    .widget-title {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .widget-content {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}


@media @smaller {
    .widgets {
        margin-left: 0;
        margin-right: 0;
    }

    .widget {
        float: none;
        width: auto;
        padding-bottom: 0.5rem;
    }

    .widget-title {
        margin-left: 0;
        margin-right: 0;
    }

    .widget-content {
        margin-left: 0;
        margin-right: 0;
    }
}


@media screen and ( max-width: 586px ) {
    .widget-title {
        padding-left: 3.75rem !important;

        &::before {
            opacity: 1 !important;
        }
    }

    .widget-content {

        &::after {
            display: none;
        }

        .has-icon & {
            padding-left: 1.25rem;
        }
    }
}


@media @small {
    .widgets {
        margin-top: 0.5rem;
    }

    .widget {

    }

    .widget-title {
        padding-left: 3.5rem !important;
        padding-right: 1rem;

        &::before {
            margin-left: 0.75rem !important;
        }
    }

    .widget-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
