.widget--banner {

}

.banner-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}


@media @medium {
    .widget--banner {

    }
}


@media @smaller {
    .widget--banner {

    }
}


@media @small {
    .widget--banner {

    }
}
