.widget--facebook {

}

.widget-title--facebook {

    &::before {
        .svg( 'icon-feature--facebook', true );
    }
}

.widget-content--facebook {

    &::after {
        top: -0.25rem;

        background-size: 100% auto;
        .svg( 'icon-feature--facebook', true );
    }
}

.facebook-button {
    max-width: 30rem;
    margin: 0 0 0;
    padding: 2.5rem 1rem;

    text-align: center;

    background-color: rgb(218, 225, 239);
    border-radius: 2px;
}


@media @medium {
    .widget--facebook {

    }
}


@media @smaller {
    .widget--facebook {
        float: none;
        width: auto;
    }

    .widget-content--facebook {

    }

    .facebook-button {

    }
}


@media @small {
    .widget--facebook {

    }
}
