.widget--feedback {
    display: none;

    &.populated {
        display: block;
    }
}

.widget-title--feedback {
    position: relative;

    &::before {
        background-size: 85% auto !important;
        .svg( 'icon-star-yellow--36', true );
    }
}

.widget-content--feedback {
    position: relative;

    overflow: hidden;

    &::after {
        background-size: 85% auto;
        .svg( 'icon-star-yellow--36', true );
    }

    & > p {
        font-size: 1.1rem;
    }

    .success & {

        &::after {
            display: none;
        }
    }
}

.feedback-title {
    font-size: 1.5rem;
}

.feedback-address {

    & > p {
        font-size: 0.875rem;
    }
}


.feedback-form {
    max-width: 32rem;
    margin: 0 0;

    .success & {
        display: none;
    }
}

.feedback-intro {
    max-width: 32rem;
    margin: 1rem 0 2rem;

    .success & {
        display: none;
    }
}

.feedback-label {
    display: none;
    float: left;
    margin: 0.75rem 0 1.5rem;

    font-size: 0.875rem;
}

.feedback-rate {
    width: 16.25rem;
    margin: 0 auto 2.25rem;

    .cf;
}

.feedback-rate-input {
    clear: both;
    display: none;
}

.feedback-rate-label {
    position: relative;

    float: right;
    width: 3rem;
    height: 3rem;
    margin: 0 0.125rem;

    font-size: 0.6rem;
    line-height: 3.25rem;
    text-align: center;
    color: #fff;

    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    .svg( 'icon-star-grey-dark--36', true );

    &::before {
        content: ' ';

        position: absolute;
        left: 50%;
        top: 50%;

        display: block;
        width: 3rem;
        height: 3rem;
        margin-top: -1.5rem;
        margin-left: -1.5rem;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
        .svg( 'icon-star-yellow--36', true );

        pointer-events: none;

        opacity: 0.5;
        visibility: hidden;

        transform: scale( 0 );

        transition-property: opacity, transform;
        transition-timing-function: ease-out;
        transition-duration: 1000ms;
    }

    &::after {
        content: ' ';

        position: absolute;
        left: 0;
        top: 0;

        display: block;
        width: 3rem;
        height: 3rem;
        margin: 0rem 0;
    }

    &:hover {

        .svg( 'icon-star-yellow--36', true );

        &::after {

        }
    }

    .feedback-rate-label:hover ~ & {

        .svg( 'icon-star-yellow--36', true );

        &::after {

        }
    }

    .feedback-rate-input:checked ~ & {

        .svg( 'icon-star-yellow--36', true );

        &::after {

        }
    }

    &.blink {

        &::before {
            visibility: visible;

            opacity: 0;

            transform: scale( 4 );
        }
    }
}

.feedback-comment {
    position: relative;

    clear: both;
}

.feedback-comment-input {
    box-sizing: border-box;
    height: 3em;
}

.feedback-email-input {
    margin: 0 0 0.25rem;
}

.feedback-submit {
    display: block;
    width: auto;
    margin: 0 0;
}

.feedback-message {
    display: none;
    padding: 2rem 0;

    font-size: 0.875rem;

    .success & {
        display: block;
    }
}


@media @medium {
    .widget--feedback {

    }
}


@media @smaller {
    .widget--feedback {

    }

    .widget-title--feedback {

        &::before {

        }
    }

    .widget-content--feedback {

        & > p {
            font-size: 0.875rem;
        }
    }

    .feedback-comment {
        // margin-top: 1rem;
        // margin-bottom: 0.5rem;
        // padding-right: 0.5rem;
    }

    .feedback-comment-input {
        padding-right: 1em;
    }

    .feedback-submit {
        display: block;
        width: auto;
    }
}


@media @small {
    .widget--feedback {

    }

    .feedback-label {

    }

    .feedback-rate {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .feedback-comment {

    }

    .feedback-submit {

    }
}
