.widget--newsletter {

}

.widget-title--newsletter {

    &::before {
        background-size: auto 100% !important;
        .svg( 'icon-feature--flyer', true );
    }
}

.widget-content--newsletter {

    &::after {
        background-size: 100% auto;
        .svg( 'icon-feature--flyer', true );
    }
}

.newsletter-info {
    max-width: 32rem;
    margin: 1rem 0 2rem;

    font-size: 1.1rem;

    & > p {
        margin: 0;
    }

    .fullwidth & {

    }
}

.newsletter-form {
    max-width: 32rem;
    margin: 1rem 0 0;
}

.newsletter-form-input {
    box-sizing: border-box;
    height: 3rem;
}

.newsletter-form-submit {
    display: block;
    margin: 0.25rem 0 0;
}


@media @medium {
    .widget--newsletter {

    }
}


@media @smaller {
    .widget--newsletter {
        float: none;
        width: auto;
    }

    .widget-content--newsletter {
        min-height: 0;
    }

    .newsletter-title {
        margin-top: 0;
    }

    .newsletter-info {
        font-size: 0.875rem;
    }

    .newsletter-form {

    }

    .newsletter-form-input {
        display: block;

        padding-right: 1em;
    }

    .newsletter-form-submit {
        float: none;
        display: block;
        width: 100%;
        margin-top: 0.25rem;
    }
}


@media @small {
    .widget--newsletter {

    }
}
