.widget--magazines {
    float: left;
    width: 50%;
}

.widget-title--magazines {

    &::before {
        .svg( 'icon-feature--magazines', true );
    }
}

.widget-content--magazines {

    &::after {
        background-size: 100% auto;
        .svg( 'icon-feature--magazines', true );
    }
}

.magazines-title {

}

.magazines-info {
    max-width: 32rem;
    margin: 1rem 0 2rem;

    font-size: 1.1rem;

    & > p {
        margin: 0;
    }

    .fullwidth & {

    }
}

.magazines-button {
    max-width: 32rem;
    margin: 0 0;
}

.magazines-button-button {
    display: block;
}


@media @medium {
    .widget--magazines {

    }
}


@media @smaller {
    .widget--magazines {
        float: none;
        width: auto;
    }

    .widget-content--magazines {

    }

    .magazines-title {

    }

    .magazines-info {
        font-size: 0.875rem;
    }
}


@media @small {
    .widget--magazines {

    }
}
