<!doctype html>
<html class="no-js">
    {{> html--head}}

    <body>

        {{> head}}

        <section class="content" role="main" id="content">
            <div class="shell">

                <div class="widgets">

                    {{> widget--banner}}

                    {{> widget--facebook--fullwidth}}

                    {{> widget--magazines}}

                    {{> widget--feedback}}

                    {{> widget--newsletter--fullwidth}}

                </div>

                {{> go}}

            </div>
        </section><!-- /.content -->

    </body>
</html>
