<section class="footer" id="footer">
	<div class="footer--1">
		<div class="shell">
			<p>
				{{{footer.info}}}
			</p>
		</div>
	</div>

	<div class="footer--2">
		<div class="shell">
			<nav class="nav--footer">
				{{#footer.nav.items}}
				<a href="{{url}}" class="nav-item--footer" target="_blank">
					{{label}}
				</a>
				{{/footer.nav.items}}
			</nav>
		</div>
	</div>
</section><!-- /.footer -->
