<div class="go">

	<div class="go-skip">
		<input type="checkbox" id="skipnexttime" class="go-skip-input">
		<label class="go-skip-label" for="skipnexttime">
			{{go.skip.label}}
		</label>
	</div>

	<a href="#" class="go-button button">
		{{go.button.label}}
	</a>
</div>
