<head>
	<meta charset="utf-8">

	<title>{{document-title}}</title>

	<script>
document.getElementsByTagName( 'html' )[0].className += ' js';
document.getElementsByTagName( 'html' )[0].className = document.getElementsByTagName( 'html' )[0].className.replace( 'no-js', '' );
	</script>

	<link rel="stylesheet" href="css/style.css">

	<meta name="HandheldFriendly" content="True">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="cleartype" content="on">

    <link rel="icon" href="img/favicon.png" type="image/png">

<?php
	error_reporting( E_ERROR | E_WARNING | E_PARSE );

	$fallbackData = array(
		'customer_id' => 2723,
		'location_id' => 3344,
		// enable/disable the places widget
		'local-info' => true,
		// enable/disable the
		'rating-modul' => true
	);

	$data = array();

	if( $_GET['meta'] ) {
		$data = $_GET['meta'];
		$data = @base64_decode( $data );
		$data = ( array ) @json_decode( $data );
	}

	if( $_GET['debug'] ) {
		$data = $fallbackData;
	}

	if( $data ) {
?>

	<meta name="location" content=""
		data-customer="<?php echo htmlspecialchars( $data['customer_id'] ); ?>"
		data-location="<?php echo htmlspecialchars( $data['location_id'] ); ?>"
<?php
		if( $data['local-info'] ) {
?>
		data-places="1"
<?php
		} else {
?>
		data-places="0"
<?php
		}
?>

<?php
		if( $data['rating-modul'] ) {
?>
		data-feedback="1"
<?php
		} else {
?>
		data-feedback="0"
<?php
		}
?>
>

<?php
		}
?>

	<script src="js/all-global.min.js"></script>

</head>
