<div class="widget widget--newsletter has-icon" data-collapsable-role="widget">
	<h3 class="widget-title widget-title--newsletter" data-collapsable-role="toggle">
		{{{widget.newsletter.title}}}
	</h3>

	<div class="widget-content widget-content--newsletter">
		<div class="newsletter-info">
			<p>
				{{{widget.newsletter.content}}}
			</p>
		</div>

		<div class="newsletter-form">
			<div class="form-item form-item--text fancylabels">
				<label class="form-label form-label--text" for="email">
					{{widget.newsletter.form.label}}
				</label>

				<input name="email" id="email" class="newsletter-form-input form-input form-input--text" autocomplete="off" value="" type="text">

				<input name="subscribe" id="subscribe" class="newsletter-form-submit form-input form-input--submit" value="{{widget.newsletter.form.button}}" type="submit">

			</div>

			<div class="form-item form-item--submit">

			</div>
		</div>

	</div>
</div>
