<div class="widget widget--magazines fullwidth has-icon" data-collapsable-role="widget">
	<h3 class="widget-title widget-title--magazines" data-collapsable-role="toggle">
		{{{widget.magazines.title}}}
	</h3>

	<div class="widget-content widget-content--magazines">
		<div class="magazines-info">
			<p>
				{{{widget.magazines.content}}}
			</p>
		</div>

		<div class="magazines-button">
			<a href="https://appurl.io/j5tkr657/" class="magazines-button-button button">
				{{{widget.magazines.button}}}
			</a>
		</div>
	</div>
</div>
