<div class="widget widget--feedback has-icon" data-collapsable-role="widget">
    <h3 class="widget-title widget-title--feedback" data-collapsable-role="toggle">
        {{widget.feedback.title}}
    </h3>

    <div class="widget-content widget-content--feedback">

    </div>
</div>


{{={{{ }}}=}}
<script id="template--feedback" type="x-tmpl-mustache">

{{{={{ }}=}}}
    <p class="feedback-intro">
        {{widget.feedback.content}}
    </p>

    <div class="feedback-form">

        <div class="feedback-label">
            {{widget.feedback.label}}
        </div>

        <div class="feedback-rate">
            <input type="radio" class="feedback-rate-input" name="feedback-rate" value="5" id="feedback-rate--5">
            <label class="feedback-rate-label" for="feedback-rate--5">5</label>
            <input type="radio" class="feedback-rate-input" name="feedback-rate" value="4" id="feedback-rate--4">
            <label class="feedback-rate-label" for="feedback-rate--4">4</label>
            <input type="radio" class="feedback-rate-input" name="feedback-rate" value="3" id="feedback-rate--3">
            <label class="feedback-rate-label" for="feedback-rate--3">3</label>
            <input type="radio" class="feedback-rate-input" name="feedback-rate" value="2" id="feedback-rate--2">
            <label class="feedback-rate-label" for="feedback-rate--2">2</label>
            <input type="radio" class="feedback-rate-input" name="feedback-rate" value="1" id="feedback-rate--1">
            <label class="feedback-rate-label" for="feedback-rate--1">1</label>
        </div>

        <div class="feedback-comment">
            <div class="form-item fancylabels">
                <label class="form-label form-label--text" for="feedback-comment">
                    {{widget.feedback.comment.label}}
                </label>

                <textarea type="text" class="feedback-comment-input form-input form-input--text" name="feedback-comment" id="feedback-comment" data-feedback-role="comment-input"></textarea>
            </div>

            <div class="form-item fancylabels">
                <label class="form-label form-label--text" for="feedback-email">
                    {{widget.feedback.email.label}}
                </label>
                <input type="email" class="feedback-email-input form-input form-input--text" name="feedback-email" id="feedback-email" data-feedback-role="email-input"></textarea>
            </div>

            <a class="feedback-submit form-input form-input--submit button">
                {{widget.feedback.submit}}
            </a>
        </div>

    </div>

    <div class="feedback-message feedback-message--success">
        {{widget.feedback.message.success}}
    </div>
{{={{{ }}}=}}

</script>
{{{={{ }}=}}}
