<div class="widget widget--facebook has-icon" data-collapsable-role="widget">
	<h3 class="widget-title widget-title--facebook" data-collapsable-role="toggle">
			{{{widget.facebook.title}}}
	</h3>

	<div class="widget-content widget-content--facebook">

		<div class="facebook-button">

			<div class="fb-like"
				data-href="https://facebook.com/meinhotspot"
				data-layout="button_count"
				data-action="like"
				data-size="large"
				data-show-faces="false"
				data-share="false">
			</div>

			<script>
(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.7";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
			</script>

		</div>

	</div>
</div>
